@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  position: absolute;
  background-image: url(/image.jpg);
  background-position-y: top;
  background-position-x: 600px;
  background-repeat: no-repeat;
}